.content_wrap {
  max-width: 560px;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
  border-radius: 5px;

  .content_header {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(204, 204, 204);
    font-size: 16px;
  }

  .content_footer {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;

    .content_footer_left {
      height: 100%;
      font-size: 24px;
      font-weight: 600;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5px;
    }

    .content_footer_right {
      display: flex;
      gap: 20px;
      align-items: center;
      height: 100%;

    }

    .content_footer_right_button_1 {
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #C25926;
      border-radius: 999px;
      padding: 0 12px;
      color: #C25926;
      font-size: 14px;
      font-weight: 600;
    }

    .content_footer_right_button_2 {
      .content_footer_right_button_1();
      color: #30855A;
      border-color: #30855A;
    }
  }
}
