.new_modal_content {
  margin: auto;
  box-sizing: border-box;
  padding: 8px 0;

  .new_modal_item {
    padding: 16px;
    box-sizing: border-box;
    border: 1px solid rgb(226, 232, 240);
    border-radius: 6px;
    cursor: pointer;

    &:hover {
      background-color: #EDF2F7;
    }

    p {
      margin: 0;
    }

    .p1 {
      font-weight: 700;
      color: rgb(26, 32, 44)
    }

    .p2 {
      font-size: 14px;
      color: rgb(74, 85, 104)
    }
  }
}
